<% provide(:title, 'Contact') %>
<div id="contactpush"></div>

<%= form_for @message, :html => { class: "form-contact form-horizontal"} do |f| %>

  <h2 class="form-signin-heading">Contact us</h2>

  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "input-block-level", :required => true, :autofocus => true %>
  </div>
  <div class="control-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "input-block-level", :required => true %>
  </div>
  <div class="control-group">
    <%= f.label :Organization %>
    <%= f.text_field :company, class: "input-block-level", :required => true %>
  </div>
  <div class="control-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "input-block-level", :required => true %>
  </div>
  <div class="control-group">
    <%= f.label :content, "Message" %>
    <%= f.text_area :content, :rows => 8, class: "input-block-level", :required => true %>
  </div>
  <div class="actions"><%= f.submit "Send Message", class: "btn btn-success" %></div>
<% end %>
