<%= form_for(@user, :html => { :class => "form-horizontal" }, :url => { :action => "create" } ) do |f| %>

  <fieldset>
    <div id="legend" class="">
      <legend class="">New User Account</legend>
    </div>

    <!-- <%= debug f %> -->
    <!-- <%= simple_format @user.to_yaml %> -->

    <div class="control-group">

      <!-- Text input-->
      <%= f.label :first_name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name, :class => "input-xlarge", :required => true %>
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">

      <!-- Text input-->
      <%= f.label :last_name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name, :class => "input-xlarge", :required => true %>
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">

      <!-- Text input-->
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email, :class => "input-xlarge", :required => true %>
        <p class="help-block"></p>
      </div>
    </div>
      
    <div class="control-group">

      <!-- Text input-->
      <%= f.label :max_allocs, :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :max_allocs, :in => 1...2147483647, :class => "input-xlarge", :required => true, :value => 1000 %>
        <p class="help-block"><small>Maximum allowed allocations.</small></p>
      </div>
    </div>


    <div class="control-group">

      <!-- Text input-->
      <%= f.label :max_concur_allocs, :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :max_concur_allocs, :in => 1...4096, :class => "input-xlarge", :required => true, :value => 4 %>
        <p class="help-block"><small>Maximum allowed concurrent/active allocations at any time.</small></p>
      </div>
    </div>


    <div class="control-group">

      <!-- Text input-->
      <%= f.label :def_lifetime, :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :def_lifetime, :in => 60...28800, :step => 60, :class => "input-xlarge", :required => true, :value => 1800 %> Secs
        <p class="help-block"><small>Default lifetime of the allocation in seconds.</small></p>
      </div>
    </div>

    <div class="control-group">

      <!-- Text input-->
      <%= f.label :max_bandwidth, :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :max_bandwidth, :in => 1...2147483647, :class => "input-xlarge", :required =>true, :value => 10000 %> MBs
        <p class="help-block"><small>Maximum allowed bandwidth in MBs (MegaBytes).</small></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>

      <!-- Button -->
      <div class="controls">
        <div><%= f.submit "Save Configuration", class: "btn btn-small btn-success" %></div>
      </div>
    </div>

  </fieldset>
</form>
<% end %>

